.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #230345;
    padding: .2em;
    border-bottom: 3px solid #ffbb33;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item {
    margin-right: 1em;
    font-size: 1.5em;
  }
  
  .item a{
    color: #ffffff;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #ffbb33;
    text-decoration: none;
    cursor: pointer;
  }
  
  .logo {
    width: 3em;
    cursor: pointer;
  }

  .mainButton {
    display: none;

  }
  .mainLabel {
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background: url('../../img/menu.png') no-repeat;
    background-size: cover; 
    cursor: pointer;
    margin-top: 1em;
}

input[type="checkbox"]:checked + .mainLabel{
    background: url('../../img/menu_x.png') no-repeat;
    background-size: cover; 

  }
  